.menu {border: solid 4px rgb(56, 54, 54); 
        border-radius: 5px;
        margin-left: 200px; 
        margin-right: 100px;
        background-color: rgb(203, 204, 165);
        margin-bottom: 80px ; 
        margin-top: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        text-align: center;
        text-decoration: none; 
        padding: 26px;
        display: flex;
        flex-direction: row;


        #logo {width: 140px;
        height: 180 px; 
        margin: 20px;
        margin-left: 40px; align-items: center;
        
        }

        li { 
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-decoration-line: none;
                font-weight: bold; color: black;
                list-style-type: none;
                padding: 20px;
                &:hover {color: rgb(248, 159, 51);
                        font-weight: bolder;
                        background-color: rgb(117, 114, 114);
                        list-style: none;
                        border-radius: 5%;
                   }
                   a   {   text-decoration: none
                
                   }   
        
        
        }
}





.header { display: flex; flex-direction: row;

        #logo {width: 140px;
                height: 180 px; 
                margin: 20px;
                margin-left: 40px; align-items: center;
                
                }


}



footer {display: flex;

}