.menu {border: solid 4px rgb(56, 54, 54); 
    border-radius: 5px;
margin-left: 200px; 
margin-right: 100px;
background-color: rgb(203, 204, 165);
margin-bottom: 80px ; 
margin-top: 50px;
font-family: Verdana, Geneva, Tahoma, sans-serif; 
text-align: center;
text-decoration: none; 
padding: 26px;
display: flex;
flex-direction: row;


}